<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExtendedCoreGraphics macOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ExtendedCoreGraphics tvOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>ExtendedCoreGraphics watchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ExtendedCoreGraphics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>33B761A61E3277F80083099F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B761BC1E3279190083099F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B761C91E3279260083099F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33B761D61E327B880083099F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
